<div class='container'>
  <div class='row'>
    <div class='col' id='new'>{{status.status_type}}
        {{> ticket-cards}}
    </div>
    
    <div class='col' id='assigned'>col</div>
    <div class='col' id='processing'>col</div>
    <div class='col' id='solved'>col</div>
</div>