<div class="col-12 d-flex flex-column">
    <div class="m-3 row justify-content-around">
        <!-- New start -->
        <div class="col-12 col-md-6 col-xl-3 mb-3">
            <div class="card" id="1">
                <h5 class="card-header bg-dark text-light">
                    New
                </h5>
                <div class="ticket-container">
                    {{#each tickets as |ticket| }}
                        {{#ifEquals status.status_type "New"}}
                            {{> ticket-cards-homepage ticket}}
                        {{/ifEquals}}
                    {{/each}}
                </div>
            </div>
        </div>
        <!-- New end -->
        <!-- in Pending start -->
        <div class="col-12 col-md-6 col-xl-3 mb-3">
            <div class="card" id="2">
                <h5 class="card-header bg-dark text-light">
                    Pending
                </h5>
                <div class="ticket-container">
                    {{#each tickets as |ticket| }}
                        {{#ifEquals status.status_type "Pending"}}
                            {{> ticket-cards-homepage ticket}}
                        {{/ifEquals}}
                    {{/each}}
                </div>
            </div>
        </div>
        <!-- in Pending end -->
        <!-- in Processing start -->
        <div class="col-12 col-md-6 col-xl-3 mb-3">
            <div class="card" id="3">
                <h5 class="card-header bg-dark text-light">
                    Processing
                </h5>
                <div class="ticket-container">
                    {{#each tickets as |ticket| }}
                        {{#ifEquals status.status_type "Processing"}}
                            {{> ticket-cards-homepage ticket}}
                        {{/ifEquals}}
                    {{/each}}
                </div>
            </div>
        </div>
        <!-- in Processing end -->
        <!-- Solved start -->
        <div class="col-12 col-md-6 col-xl-3 mb-3">
            <div class="card" id="4">
                <h5 class="card-header bg-dark text-light">
                    Solved
                </h5>
                <div class="ticket-container">
                    {{#each tickets as |ticket| }}
                        {{#ifEquals status.status_type "Solved"}}
                            {{> ticket-cards-homepage ticket}}
                        {{/ifEquals}}
                    {{/each}}
                </div>
            </div>
        </div>
        <!-- Solved end -->
    </div>
</div>