<div class="login-wrapper">
  <div id="login" class="card w-75 m-3">
    <div class="card-header">Login</div>
    <div class="card-body">
      <form class="login-form">
        <div class="form-group">
          <input type="text" id="email-login" />
          <label for="email-login">E-mail:</label>
        </div>
        <div>
          <input type="password" id="password-login" />
          <label for="password-login">Password:</label>
        </div>
        <div class="login-buttons mt-2">
          <button type="submit" class="btn btn-dark">Login</button>
          <button class="btn btn-dark" id="signup-link">Sign Up Instead</button>
        </div>
      </form>
    </div>
  </div>
  <div id="signup" class="card w-75 m-3 d-none">
    <div class="card-header">Signup</div>
    <div class="card-body">
      <form class="signup-form">
        <div class="form-group">
          <input type="text" id="username-signup" />
          <label for="username-signup">Username:</label>
        </div>
        <div class="form-group">
          <input type="text" id="email-signup" />
          <label for="email-signup">E-mail:</label>
        </div>
        <div class="form-group">
          <input type="password" id="password-signup" />
          <label for="password-signup">Password:</label>
        </div>
        <div class="login-buttons mt-2">
          <button type="submit" class="btn btn-dark">Signup</button>
          <button class="btn btn-dark" id="login-link">Login Instead</button>
        </div>
      </form>

    </div>
  </div>
</div>

<script src="/javascript/login.js"></script>